.desc {
	font-size: 12px;
	font-weight: bold;
}

.link {
	font-size: 12px;
	margin-bottom: 8px;
}

.translator_title {
	text-align: center;
	font-size: 18px;
	color: white;
}

.translator_container-audioes {
	display: flex;
	align-items: center;
	margin-top: 8px;
}

.translator_container-audioes .setting-item {
	padding: 0;
	border: none;
	margin-right: 16px;
}

.translator_container-audioes .setting-item .setting-item-info {
	margin-right: 6px;
}

.translator_search .setting-item-info {
	display: none;
}

.translator_search .translator_search,
.translator_container-audioes .translator_search {
	justify-content: flex-start;
}

.translator_search .setting-item-control,
.translator_container-audioes .setting-item-control {
	justify-content: flex-start;
}

.translator_container {
	height: 300px;
	overflow-y: scroll;
	position: relative;
}

.translator_container-overlay {
	height: 300px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.translator_container p {
	margin: 8px 0;
}

.translator_container-title {
	font-size: 16px;
	font-weight: bold;
	color: #67C23A;
}
