.translator_title {
	text-align: center;
	font-size: 18px;
	color: white;
}

.translator_container-audioes {
	display: flex;
	align-items: center;
	margin-top: 8px;
}

.translator_container-audioes .setting-item {
	padding: 0;
	border: none;
	margin-right: 16px;
}

.translator_container-audioes .setting-item button {
	padding: 0;
	border: none;
	box-shadow: none;
	cursor: pointer;
	color: #67C23A;
}

.translator_container-audioes .setting-item .setting-item-info {
	margin-right: 6px;
}

.translator_container-audioes .setting-item .setting-item-info .setting-item-name {
	font-size: 14px;
}

.translator_container-audioes .setting-item .setting-item-info .setting-item-description {
	display: none;
}

.translator_search .setting-item-info {
	display: none;
}

.translator_search .translator_search,
.translator_container-audioes .translator_search {
	justify-content: flex-start;
}

.translator_search .setting-item-control,
.translator_container-audioes .setting-item-control {
	justify-content: flex-start;
}

.translator_search .setting-item-control input[type="text"] {
  flex: 1;
  font-size: 18px;
  height: 36px;
}

.translator_container {
	max-height: 300px;
	overflow-y: scroll;
	position: relative;
  user-select: text;
  margin-bottom: 10px;
}

.translator_container-microsoft {
  height: auto;
}

.translator_container-overlay {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  height: 100%;
}

.translator_container p {
	margin: 8px 0;
}

.translator_container-title {
	font-size: 16px;
	font-weight: bold;
	color: #67C23A;
}

.translator_container-block-title {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid var(--background-modifier-border);
  padding-bottom: 8px;
  display: flex;
  align-items: center;
}

.translator_container-block-title::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 8px;
}

.translator_container-block-title-youdao::before {
  background-image: url(https://user-images.githubusercontent.com/9375823/185375333-c4fcc4d9-2be9-493e-af00-19d16b597a37.svg);
}

.translator_container-block-title-microsoft::before {
  background-image: url(https://user-images.githubusercontent.com/9375823/185375071-2d68c762-e583-4886-acc5-051b5a6ea734.svg);
}

.translator_container-block-title-google::before {
  background-image: url(https://user-images.githubusercontent.com/9375823/185377760-f6800694-c31d-4025-9610-d3016e3b980b.svg);
}

.translator_container-block-title-baidu::before {
  background-image: url(https://user-images.githubusercontent.com/9375823/185876262-b06e39df-6731-4508-a95e-e2c6ae2b5741.svg);
}

.translator_container-block-title .setting-item {
  padding: 0;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
